<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Home | Predictive Maintenance</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css')}}">
    </head>
    <body id="page-top">
        <header>
            <div class="container d-flex align-items-center flex-column">
                <!-- <div style="height: 200px;">
                    <img class="masthead-avatar mb-5" src="heart.png" alt="..." style = "height: 200px;"/>
                </div> -->
                <h1 class="masthead-heading text-uppercase mb-0" style ="padding:20px;">Predictive Maintenance</h1>
            </div>
        
        </header>
        <section class="page-section portfolio">
            <div class="login">
            <div class="container">
                    <div class="row justify-content-center" style="padding-top: 20px;">
                        <div class="col-md-6">
                            <div>
                                <img src="{{ url_for('static', filename='jet-removebg-preview.png')}}">
                            </div>
                            <div>
                                <h6> Project : Predictive Maintenance </h6>
                                <h6> Using Machine Learning, Python and Flask </h6>
                                <h6> Jinendra Sontakke</h6>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4>Prediction : </h4>
                            <center style="padding-top: 10px;"><h1>{{ prediction_text }}</h1></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://use.fontawesome.com/ac6cc11466.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
                        

                        
                        